body {
	background-image: url("/images/bg.png");
	background-attachment: fixed;
	font-family: "Myriad Pro", sans-serif;
}

#register-container {
	position: absolute;
	z-index: 1;
	margin-left: 13%;
	margin-top: 40%;
	width: 910px;
	height: 830px;
}

#register-bg {
	position: absolute;
	opacity: 0.7;
	height: 630px;
	width: 910px;
	background-color: #FFF;
	border-radius: 60px;
}

#register-info {
	position: relative;
	margin: 5% 5%;
	height: 200px;
	width: 910px;
	font-size: 40px;
	color: #231F20;
}

#register-info p {
	margin-bottom: 35px;
}

#register-info label {
	font-size: 20px;
	margin-right: 30px;
	margin-left: 5px;
}

#register-info input[type = "text"], input[type = "password"], select {
	height: 25px;
	border-radius: 10px;
	border: 0;
	padding-left: 5px;
	margin-bottom: 10px;
	margin-right: 100px;
	background-image: -webkit-linear-gradient(top, #FFF, #EEE);
	background-image: -moz-linear-gradient(top, #FFF, #EEE);
	color: #444;
	font-size: 14px;
}

#input-nome {
	width: 580px;
}

#register-info select {
	width: 150px;
}

#register-info input[type="submit"] {
	margin-top: 20px;
	padding: 20px;
	color: white;
	font-weight: bold;
	background-image: -webkit-linear-gradient(top, #595A5D, #393A3D);
	background-image: -moz-linear-gradient(top, #595A5D, #393A3D);
	border-radius: 8px;
	font-size: 13px;
}

#input-salvar {
	margin-left: 250px;
}

#register-info input[type="submit"]:hover {
	padding: 20px;
	color: white;
	font-weight: bold;
	background-image: -webkit-linear-gradient(top, #595A5D, #191A1D);
	background-image: -moz-linear-gradient(top, #595A5D, #191A1D);
	border-radius: 8px;
}

#register-info input:focus{
	color: #333;
}

#logout {
	float: right;
	margin-top: 190px;
	margin-right: 40px;
	color: white;
}

#figura {
	float: right;
	margin-top: 190px;
}

#petGestor {
	overflow:hidden;
	position: absolute;
	height: 20%;
	width: 100%;
	background-color: #FFF;
	box-shadow: 1px 10px 45px rgba(0,0,0,3.5);
	z-index: 2;
	background-image: -moz-linear-gradient(top, #FFF, #ECECEC);
	background-image: -webkit-linear-gradient(top, #FFF, #ECECEC);
}

#logo{
	position: relative;
	top: 2%;
	left: 33%;
	height: 100%;
	width: 403px;
}
